@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
video {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  margin: 0;
  padding: 0;
}

@keyframes slideVertical {
  0% {
    transform: translateY(0); /* Start at the initial position */
  }
  100% {
    transform: translateY(-33.33%); /* Move up by half the content's height */
  }
}

.animate-slideVertical {
  animation-name: slideVertical;
  animation-duration: 50s; /* Adjust this for speed */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes slideVerticalTopToBottom {
  0% {
    transform: translateY(-33.33%); /* Start at the last few images */
  }
  100% {
    transform: translateY(0); /* Scroll down to the start */
  }
}

.animate-slideVerticalTopToBottom {
  animation-name: slideVerticalTopToBottom;
  animation-duration: 50s; /* Adjust this for desired speed */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



