@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
video {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  margin: 0;
  padding: 0;
}

@keyframes slideVertical {
  0% {
    transform: translateY(0); /* Start at the initial position */
  }
  100% {
    transform: translateY(-100%); /* Move up by half the content's height */
  }
}
body{
  overflow-x: hidden;
}
.animate-slideVertical {
  animation-name: slideVertical;
  animation-duration: 300s; /* Adjust this for speed */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slideVerticalTopToBottom {
  0% {
    transform: translateY(-20%); /* Start at the last few images */
  }
  100% {
    transform: translateY(0); /* Scroll down to the start */
  }
}

.animate-slideVerticalTopToBottom {
  animation-name: slideVerticalTopToBottom;
  animation-duration: 300s; /* Adjust this for desired speed */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.our-services .swiper {
  padding-bottom: 30px;
}

.our-services .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 30px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 4px)
  );
  display: inline-block;
  border-radius: 0px !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.our-services .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #4096fa;
}
.white-overlay,.title-white-overlay{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.circle_overlay_effect,.title_circle_overlay_effect {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.rfm-initial-child-container {
  flex: 0 0 auto;
  display: flex;
  min-width: auto;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

body{
  overflow-x: hidden !important;
}

